@model Blog161.ViewModel.VmComentariosMensagem

@{
    ViewData["Title"] = "Mensagens";
}
<p>
    @if (User.IsInRole("Administrador") || User.IsInRole("Membro")) 
    {
        <a class="btn btn-success btn-sm" asp-action="Create">Escrever Mensagem</a>
    }
</p>
@foreach (var item in Model.Mensagens)
{
    <div class="card border-primary mb-4">
        <div class="card-header alert-primary text-black-50">
            <span class="text-black-50 blockquote-footer float-left">@item.Categoria.Descricao</span>
            <div class="text-center">
                <h5 class="card-title">@item.Titulo</h5>
            </div>
            <div class="float-right">
                @if (User.IsInRole("Administrador"))
                {
                    <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                }
            </div>
        </div>
        <div class="card-body ">
            <p> "@item.Descricao"</p>
            <h5 class="card-title">Comentários</h5>
            <div class="row">

                @foreach (var item2 in Model.Comentarios)
                {
                    @if (item2.MensagemId == item.Id)
                    {
                        <div class="col-sm-6">
                            <div class="card border-primary mb-2">
                                <div class="card-body">
                                    <h5 class="card-title">@item2.Titulo</h5>
                                    <p class="card-text">@item2.Descricao</p>
                                    <span class="blockquote-footer float-left">@item2.Autor - @item2.Data</span>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
            @if (User.IsInRole("Administrador") || User.IsInRole("Membro"))
             {
                <a asp-action="Create" asp-controller="Comentario" asp-route-id="@item.Id" class="btn btn-primary float-right">Comentar</a>
            }
        </div>
        <div class="card-footer alert-primary text-black-50 text-muted">
            <span class="text-black-50">@item.Data - @item.Autor</span>
        </div>
    </div>
}